/* .elem_list:hover{
  background-color: #37474f;
} */

.elem_list{
  /* border-bottom-color: #607d8b;
  border-bottom-style: solid; */
  margin-bottom: 0px;
}

/* .elem_list .description{
  padding-top: 15px;
  padding-bottom: 50px;
}

.elem_list .remove{
  cursor: auto;
  color: #cfd8dc;
}

.elem_list .remove:hover{
  cursor: pointer;
  color: #263238;
}

.elem_list .icon-remove{
  margin-top: 30px;
  padding-left: 5px;
} */
